@model WebUI.Areas.Account.Models.LoginModel
@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>登录</title>
	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		@using (Html.BeginForm("Index", "Login", new { area = "Account", returnUrl = ViewBag.ReturnUrl }))
		{
			@Html.AntiForgeryToken()
			<div>
				@Html.ValidationSummary(false)
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.LoginAccount)
				@Html.TextBoxFor(m => m.LoginAccount, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.Password)
				@Html.PasswordFor(m => m.Password, new { @class = "form-control" })
			</div>
			<div class="form-group">
				@Html.LabelFor(m => m.IsRememberMe, new { @class = "form-check-label" })
				<input id="IsRememberMe" type="checkbox" name="IsRememberMe" value="true" />
			</div>
			<input type="submit" value="登录" />
		}
	</div>
	<script src="~/Scripts/jquery-1.12.0.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/jquery.validate.min.js"></script>
	<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
