@using Domain
@using WebUI.Areas.Admin.Models
@using WebUI.Areas.Account.Models
@using Framework.Models
@using Framework.Infrastructure.Concrete
@model UserInfo
@{
	Layout = "~/Areas/Account/Views/Shared/_TopNav.cshtml";
	ViewBag.Title = Model.Name + "- 个人中心 - TES";

	CurrentAccountModel currentAccount = AccountManager.GetCurrentAccount();
	UserInfo currentUserInfo = currentAccount.UserInfo;
	EditUserInfoModel editUserInfoModel = new EditUserInfoModel
	{
		InputAccount = currentUserInfo.LoginAccount,
		InputName = currentUserInfo.Name,
		InputDescription = currentUserInfo.Description,
		InputEmail = currentUserInfo.Email
	};
	// 当前访问的个人中心是否为当前登录账号的个人中心---仅自己可见的内容
	bool isSelf = Model.LoginAccount == currentUserInfo.LoginAccount;
}
@section head {
}
@section body {
}
<div class="row">
	<div class="col-md-12">
		<!-- start 提示框 -->
		<div id="js-message" class="alert alert-success hidden" role="alert">
			<button onclick="closeMsg()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			<span class="message"></span>
		</div>
		<!-- end 提示框 -->
	</div>
</div>
<div class="row">
	<div class="col-md-3">

		<!-- Profile Image -->
		@Html.Partial("_ProfileBoxPartial")
		<!-- /.box -->
		<!-- About Me Box -->
		@Html.Partial("_AboutMeBoxPartial")
		<!-- /.box -->
	</div>
	<!-- /.col -->
	<div class="col-md-9">
		<div class="nav-tabs-custom">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#activity" data-toggle="tab">活动</a></li>
				<li><a href="#timeline" data-toggle="tab">时间轴</a></li>
				@if (isSelf)
				{
					<li><a href="#settings" data-toggle="tab">设置</a></li>
				}
			</ul>
			<div class="tab-content">
				<div class="active tab-pane" id="activity">
					@Html.Partial("_ActivityPartial")
				</div>
				<!-- /.tab-pane -->
				<div class="tab-pane" id="timeline">
					@Html.Partial("_TimeLinePartial")
				</div>
				<!-- /.tab-pane -->
				@if (isSelf)
				{
					<div class="tab-pane" id="settings">
						@Html.Partial("_SettingsPartial", editUserInfoModel)
					</div>
					<!-- /.tab-pane -->
				}
			</div>
			<!-- /.tab-content -->
		</div>
		<!-- /.nav-tabs-custom -->
	</div>
	<!-- /.col -->
</div>
<!-- /.row -->