@using Framework.HtmlHelpers
@using WebUI.Areas.Admin.Models
@model UserInfoListViewModel
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminContent.cshtml";

	ViewBag.Title = "用户列表 - 后台管理";
}


<!-- start 提示框 -->
<div id="js-message" class="alert alert-success hidden" role="alert">
	<button onclick="closeMsg()" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<span class="message"></span>
</div>
<!-- end 提示框 -->

<input id="js-id" type="hidden" />

<!-- start 表格 -->
<table class="table table-striped table-hover table-bordered">
	<tr>
		<th style="width: 10%;">ID</th>
		<th style="width: 20%;">用户名</th>
		<th style="width: 60%;">操作</th>
	</tr>
	@foreach (var cat in Model.UserInfos)
	{
		<tr>
			<td>@cat.ID</td>
			<td>@cat.Name</td>
			<td>
				<div class="btn-group" role="group" data-pjax>
					@if (Html.HasAuth("Admin", "UserInfo", "Detail"))
					{
						<a href="@Url.Action("Detail")?id=@cat.ID" class="btn btn-default">查看</a>
					}
					@if (Html.HasAuth("Admin", "UserInfo", "Delete"))
					{
						<button class="btn btn-default" type="button" onclick="deleteOp(@cat.ID)">删除</button>
					}
					@if (Html.HasAuth("Admin", "UserInfo", "Edit"))
					{
						<a href="@Url.Action("Edit")?id=@cat.ID" class="btn btn-default">修改</a>
					}
				</div>
			</td>
		</tr>
	}
</table>
<!-- end 表格 -->
<!-- start 删除确认框 -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
				<h4 class="modal-title">确认框</h4>
			</div>
			<div class="modal-body">
				<form>
					<div class="form-group">
						<label for="message-text" class="control-label">确定要删除？</label>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">返回</button>
				<button onclick="deleteSubmit()" type="button" class="btn btn-primary" data-dismiss="modal">确认</button>
			</div>
		</div>
	</div>
</div>
<!-- end 删除确认框 -->
<!-- start 分页 -->
<div id="js-page" class="btn-group pull-right" data-pjax>
	@Html.PageLinks(Model.PageInfo, i => Url.Action("Index", new { pageIndex = i }))
</div>
<!-- end 分页 -->


<script>
	// 关闭提示消息
	function closeMsg() {
		$("#js-message").attr("class", "hidden");
	}

	// start 删除
	function deleteOp(id) {
		$("#js-id").val(id);
		$('#deleteModal').modal();
	}
	function deleteSubmit() {
		var id = $("#js-id").val();
		$.ajax({
			type: 'POST',
			url: '/Admin/UserInfo/Delete',
			data: { id: id },
			dataType: 'json',
			success: function (data) {
				if (data.code <= 0) {
					// 删除失败
					$("#js-message").attr("class", "alert alert-danger").find(".message").html(data.message);
				} else {
					// 删除成功
					$("#js-message").attr("class", "alert alert-success").find(".message").html(data.message);
					$(".table").find("tr:contains('" + id + "')").remove();
					// 检查当前当前页面是否已经全部删除完，若是，则点击当前页码，重新加载
					var trNum = $(".table").find("tr").length - 1;
					if (trNum == 0) {
						$("#js-page").find("a[class*='selected']").click();
					}
				}
			}
		});
	}
	// end 删除

</script>