@using WebUI.Areas.Admin.Models.ThemeTemplateVM
@using Framework.HtmlHelpers
@using WebUI.Areas.Admin.Models.Common
@using WebUI.Extensions
@using Domain
@model ThemeTemplateViewModel
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminContent.cshtml";
	string currentCat = ((string)ViewBag.Cat).ToLower();
	string[] cat = { "已启用", "已禁用", "已安装", "未安装" };
	string[] catLink = { "open", "close", "installed", "withoutinstalled" };
}
@section head {
}
@section body {
	<script src="~/dist/pview/pview.js"></script>
	<script>

		function showMessage(message, type) {
			$("#js-message").fadeIn();
			switch (type) {
				case -1:
					$("#js-message").attr("class", "alert alert-danger").find(".message").html(message);
					break;
				case 1:
					$("#js-message").attr("class", "alert alert-success").find(".message").html(message);
					break;
			}
			// 3s 后隐藏
			setTimeout(function () {
				$("#js-message").fadeOut("slow");
			}, 3000);
		}

		var pview;
		$(function () {
			pview = new PView();
			pview.init();
		});


	</script>
}

<!-- start 提示框 -->
@{ Html.RenderPartial("_MessagePartial"); }
<!-- end 提示框 -->
<!-- start 切换页头 -->
<div class="row" style="padding-bottom: 24px;" pview="header">
	<div class="col-md-12">
		<div class="pull-left">
			<ul class="nav nav-tabs" pview-btn-group pview-targets="header,list,pages">
				@for (int i = 0; i < cat.Length; i++)
				{
					string active = null;
					if (currentCat == catLink[i])
					{
						active = "active";
					}
					<li class="@active" role="presentation"><a href="@Url.Action("Index", new { cat = catLink[i] })">@cat[i]</a></li>
				}
			</ul>
		</div>
		<div class="pull-right col-md-4">
			<div class="btn-group">
				<a class="btn btn-primary" href="@Url.Action("UploadTemplate")">上传本地主题模板</a>
			</div>
		</div>
	</div>
</div>
<!-- end 切换页头 -->
<!-- start 模板列表 -->
<div class="row" pview="list">
	@{
		<div class="col-xs-12">
			@if (Model.List.FirstOrDefault() is OpenCloseItem)
			{
				<div class="col-sm-6 col-md-3">
					@foreach (OpenCloseItem item in Model.List)
					{
						<div class="thumbnail">
							<img src="/@item.PreviewImageUrl" alt="@item.Title">
							<div class="caption">
								<h3>@item.Title</h3>
								<p><span>模板名: </span><span>@item.TemplateName</span></p>
								<p><span>标题: </span><span>@item.Title</span></p>
								<p><span>来源: </span><span>@(((Source)item.Source).GetStr())</span></p>
								<p>
									<span>作者:  </span>
									@foreach (string author in item.Authors)
									{
										<span>@author</span>
									}
								</p>
								<p><span>描述: </span><span>@item.Description</span></p>
								<p class="btn-group">
									@if (item.Status == 1)
									{
										<button class="btn btn-primary" role="button">@(item.IsDefault ? "默认" : "设置为默认")</button>
									}
									<button class="btn btn-default" role="button">@(item.Status == 1 ? "禁用" : "启用")</button>
								</p>
							</div>
						</div>
					}
				</div>
			}
			else if (Model.List.FirstOrDefault() is InstallZipItem)
			{
				<div class="table-responsive no-padding">
					<table class="table table-hover">
						<tr>
							<th>文件名称</th>
							<th>文件描述</th>
							<th>版权</th>
							<th>版本</th>
							<th>安装包大小</th>
							<th>安装</th>
						</tr>
						@foreach (InstallZipItem item in Model.List)
						{
							<tr>
								<td>@item.TemplateName</td>
								<td>@item.FileDescription</td>
								<td>@item.LegalCopyright</td>
								<td>@item.Version</td>
								<td>@item.Length KB</td>
								<td>
									<div class="btn-group">
										<button class="btn btn-primary">安装</button>
									</div>
								</td>
							</tr>
						}
					</table>
				</div>
			}
		</div>
	}
</div>
<!-- end 模板列表 -->
<!-- start 分页 -->
<div id="js-page" class="row" pview="pages">
	<ul class="pagination pull-right" pview-btn-group pview-targets="header,list">
		@*@Html.PageLinks(Model.PageInfo, i => Url.Action("Index", new { pageIndex = i, q = Request["q"], type = Request["type"] }))*@
	</ul>
</div>
<!-- end 分页 -->