@using WebUI.Areas.Admin.Models
@using WebUI.Extensions
@{
	bool isPjax = Request.IsPjaxRequest();
	if (isPjax)
	{
		// PJAX 请求返回部分
		Layout = null;
	}
	else
	{
		// 非 PJAX 完整
		Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
	}
}
@if (isPjax == false)
{
	@section head {
		@RenderSection("head", false)
	}
	@section body {
		@RenderSection("body", false)
	}
}

@if (isPjax)
{
	@RenderSection("head", false)
}

<!-- Content Header (Page header) -->
<section class="content-header">
	<h1>
		@ViewBag.PageHeader
		<small>@ViewBag.PageHeaderDescription</small>
	</h1>
	<ol class="breadcrumb" data-pjax>
		<li><a href="/Admin/Home"><i class="fa fa-dashboard"></i> Home</a></li>
		@foreach (BreadcrumbItem item in ViewBag.BreadcrumbList)
		{
			@item.GenerateHtmlTag()
		}
	</ol>
</section>
<!-- Main content -->
<section class="content container-fluid">
	@RenderBody()
</section>
<!-- /.content -->

@if (isPjax)
{
	@RenderSection("body", false)
}