@using Domain
@model NormTarget
@{
	Layout = null;
}

<link href="~/dist/layui/css/layui.css" rel="stylesheet" />
<div class="layui-fluid">
	<form class="layui-form">
		@Html.HiddenFor(m => m.ID)
		<div class="layui-form-item">
			@Html.LabelFor(m => m.Name, new { @class = "layui-form-label" })
			<div class="layui-input-block">
				<input class="layui-input" required lay-verify="required" type="text" name="Name" placeholder="请输入名称" value="@Model.Name">
			</div>
		</div>
		<div class="layui-form-item">
			@Html.LabelFor(m => m.Weight, new { @class = "layui-form-label" })
			<div class="layui-input-block">
				<input class="layui-input" type="number" name="Weight" required lay-verify="required" placeholder="请输入权重" autocomplete="off" value="@Model.Weight">
			</div>
		</div>
		<div class="layui-form-item">
			@Html.LabelFor(m => m.SortCode, new { @class = "layui-form-label" })
			<div class="layui-input-block">
				<input type="text" name="SortCode" required lay-verify="required" placeholder="请输入排序码" autocomplete="off" class="layui-input" value="@Model.SortCode">
			</div>
		</div>
		<div class="layui-form-item">
			@Html.LabelFor(m => m.ParentTarget, new { @class = "layui-form-label" })
			<div class="layui-input-block">
				@Html.DropDownListFor(model => model.ParentTarget.ID, (IList<SelectListItem>)ViewBag.DDLParent)
			</div>
		</div>
		<div class="layui-form-item">
			@Html.LabelFor(m => m.NormType, new { @class = "layui-form-label" })
			<div class="layui-input-block">
				@Html.DropDownListFor(model => model.NormType.ID, (IList<SelectListItem>)ViewBag.DDLNormType)
			</div>
		</div>
		<div class="layui-form-item">
			<div class="layui-input-block">
				<button class="layui-btn" onclick="return saveData();">保存</button>
			</div>
		</div>
	</form>
</div>
<script src="~/Scripts/jquery-1.12.0.min.js"></script>
<script src="~/dist/layui/layui.js"></script>
<script>
	var form, layer;
	layui.use(['form', 'layer'], function () {
		form = layui.form,
			layer = layui.layer;
	});

	function saveData() {
		$.ajax({
			type: "post",
			url: "/Admin/NormTarget/Edit",
			data: $("form").serialize(),
			dataType: "json",
			success: function (data) {
				if (data.code > 0) {
					console.log("保存成功");
					// 3.关闭弹窗
					parent.layer.close(parent.layer.index);
					window.parent.location.reload();
				} else if (data.code < 0) {
					// 失败
					layer.msg(data.message);
				}
			}
		});
		return false;
	}

</script>
