@using Framework.HtmlHelpers
@using WebUI.Areas.Admin.Models.Common
@using WebUI.Extensions
@using Domain
@model IList<EmployeeInfo>
@{
	Layout = "~/Areas/Admin/Views/Shared/_AdminContent.cshtml";
	EmployeeInfo currentEmployee = ViewBag.CurrentEmployee;
	Department currentDept = ViewBag.CurrentDept;
	int evaTaskId = ViewBag.EvaTaskId;
	EvaTask evaTask = ViewBag.EvaTask;
}
@section head {
}
@section body {
	<script>

		function showMessage(message, type) {
			$("#js-message").fadeIn();
			switch (type) {
				case -1:
					$("#js-message").attr("class", "alert alert-danger").find(".message").html(message);
					break;
				case 1:
					$("#js-message").attr("class", "alert alert-success").find(".message").html(message);
					break;
			}
			// 3s 后隐藏
			setTimeout(function () {
				$("#js-message").fadeOut("slow");
			}, 3000);
		}

		$(function () {

		});
	</script>
}


<!-- start 提示框 -->
@{ Html.RenderPartial("_MessagePartial"); }
<!-- end 提示框 -->
<!-- start .box -->
<div class="box">
	<!-- start .box-header -->
	<div class="box-header">
		<h3 class="box-title">
			<span class="col-xs-12" style="padding-bottom: 10px;">评价任务: @evaTask.Name</span>
			<span class="col-xs-6 pull-left" style="padding-bottom: 10px;">
				@(currentEmployee?.Name ?? "")（@(currentEmployee?.EmployeeCode ?? "")）
			</span>
			<span class="col-xs-2 pull-left">职位: @currentEmployee.Duty.ToEmployeeDuty()</span>
			<span class="col-xs-4 pull-right">
				@{
					string parentYuanName = currentDept?.ParentDept?.Name ?? "";
					string xiName = currentDept?.Name ?? "";
				}
				@parentYuanName - @xiName
			</span>
		</h3>

		<div class="box-tools"></div>
	</div>
	<!-- end .box-header -->
	<!-- start .box-body -->
	<!-- start 简单表格 -->
	<div class="box-body table-responsive no-padding">
		<table id="js-table" class="table table-hover" pview="table">
			<tr>
				<th>ID</th>
				<th>教师</th>
				<th>职位</th>
				<th>状态</th>
				<th>操作</th>
			</tr>
			@if (Model != null && Model.Count >= 1)
			{
				foreach (var item in Model)
				{
					<tr>
						<td>@item.ID</td>
						<td>@item.Name（@item.EmployeeCode）</td>
						<td>
							<span class="label label-success">@item.Duty.ToEmployeeDuty()</span>
						</td>
						<td></td>
						<td>
							<div class="btn-group">
								@if (currentEmployee.ID == item.ID)
								{
									<a class="btn btn-success" href="/Admin/TeacherEva/Eva?teacherId=@item.ID&evaTaskId=@evaTaskId">自评</a>
								}
								else
								{
									<a class="btn btn-primary" href="/Admin/TeacherEva/Eva?teacherId=@item.ID&evaTaskId=@evaTaskId">评价</a>
								}
							</div>
						</td>
					</tr>
				}
			}
		</table>
	</div>
	<!-- end 简单表格 -->
	<!-- end .box-body -->
	<!-- start .box-footer -->
	<div class="box-footer clearfix">
		<div class="btn-group">
			<a class="btn btn-default" href="/Admin/TeacherEva">返回</a>
		</div>
	</div>
	<!-- end .box-footer -->
</div>
<!-- end .box -->
